{% extends "core/base.html" %}
{% block content %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    The world... (TODO)
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    {% for op in operations %}
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          {{ op.name }}
        </div>
        <div class="mdl-card__supporting-text">
          {{ op.delatils }}
        </div>
    </div>
    {% endfor %}

  </div>

</div>
{% endblock %}

