{% extends "core/base.html" %}
{% block content %}
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4>Stocks performance</h4>
    <p>
     {% for share in shares %}
       <b>{{ share.symbol }}:</b> {{ share.current_value }} &nbsp;
     {% endfor %}

    </div>
  </div>
</section>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    {% for op in operations %}
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          {{ op.name }}
        </div>
        <div class="mdl-card__supporting-text">
          {{ op.delatils }}
        </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}

